*{
  margin: 0;
  padding: 0 ;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.6;
  color: #1417aa;
  background-color: #f9f9f9;
  background-image: url(https://wallpapercave.com/wp/wp7453677.jpg);
}


header {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: right;
}

header nav li {
  margin-right: 20px;
}

header nav a {
  color: #fff;
  text-decoration: none;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  padding: 20px;
}

section {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-top: 0;
}

#about {
  grid-column: 1 / -1;
}

#about img {
  width: 100px;
  height: 153px;
  border-radius: 100%;
  margin: 20px;
}

#projects {
  grid-column: 1 / -1;
  text-align: center;
  
}

#projects ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

#projects li {
  background-color: #fff;
  padding: 20px;
  border: 1
}

#contact {
  grid-column: 1 / -1;
  background-color: #f7f7f7;
  padding: 40px;
  text-align: center;
}

#contact h1 {
  margin-top: 0;
}

#contact ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

#contact li {
  margin-right: 20px;
}

#contact a {
  color: #337ab7;
  text-decoration: none;
}

#contact a:hover {
  color: #23527c;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  clear: both;
}

footer p {
  margin: 0;
}